# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environment
env/
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.spec.bak

# Executables
*.exe
