{% extends 'base.html' %}
{% block content %}
<script src="../../static/script/relateUs.js"></script>

<div class="container">
    <div class="row clearfix" style="margin-top:150px;">
        <div class="col-md-12 column">
            <h3>
                关于我们
            </h3>
            <p class="text-left">
                很高兴向您介绍我们的杆塔倾斜检测项目团队。我们的团队主要由西安交通大学的大三学生组成，专业分布包括电气专业、软件工程和电测控专业。</p>
            <p class="text-left">
                作为西安交通大学的学生，我们在工程和技术领域接受了系统而专业的培训。我们团队的成员在学校中积累了扎实的理论知识和实践经验，并具备创新思维和解决问题的能力。</p>
            <p class="text-left">
                在杆塔倾斜检测项目中，我们利用所学专业知识和技能，致力于提供准确、可靠的解决方案。电气专业的成员可以应用他们对电力系统和设备的理解，分析杆塔的结构和电气特性。软件工程专业的成员可以开发和应用相应的软件工具和算法，处理和分析大量的数据。电测控专业的成员则具备测量和控制方面的专业知识，可以操作测量仪器和设备进行倾斜检测。</p>
            <p class="text-left">
                我们的团队注重团结协作和互相学习，每个成员都有自己的专业优势和贡献。我们相信通过合作和共同努力，可以为杆塔倾斜检测项目提供全面而优质的服务。</p>
            <p class="text-left">
                我们团队的成员是年轻且富有激情的学生，渴望在实践中应用所学知识，并为电力行业的发展和安全做出贡献。我们将以专业的态度和高质量的工作，为您提供满意的杆塔倾斜检测解决方案。</p>
            <p class="text-left">
                无论是在技术能力还是团队合作方面，我们的团队都准备好面对挑战并取得优秀的成果。我们已经与国网智能科技有限公司合作，为杆塔倾斜检测提供专业支持和卓越服务。</p>
            </body>
        </div>
    </div>
</div>
{% endblock %}