.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, rgba(27, 101, 185, 0.3), rgba(27, 101, 185, 0));
}

.question-container {
    margin-top: 150px;
    background-color: white;
    width: 90%;

    width：100

%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直居中 */
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 20px;
}

.question-content {
    width: 90%;
    background-color: rgb(241, 241, 241);
    overflow: hidden; /* 隐藏溢出的内容 */
    position: relative; /* 用于定位按钮 */
    height: 50px; /* 初始高度 */
    transition: height 0.5s ease; /* 高度变化动画 */
}

a.showMore {
    font-size: 15px;
}

a.showMore:hover {
    font-size: 17px;
}

.answer {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直居中 */
    border: 5px solid rgb(211, 217, 219);
    border-radius: 10px;
}

.answer-content {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.photo-and-name {
    width: 100%;
    display: flex;
    align-items: center; /* 垂直居中 */
    border-bottom: 1px solid gray; /* 设置下边框的粗细和颜色 */
    padding-bottom: 5px; /* 如果需要，可以添加一些内边距 */
}

.photo {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.name {
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.answer-text {
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(232, 245, 244);
    height: 200px;
    overflow: hidden;
    transition: height 0.5s ease; /* 高度变化动画 */
}


.tip {
    display: flex;
    justify-content: center;
}

.question-title {
    font-size: 25px;
}

.question-content {
    font-size: 20px;
}

.card {
    margin: 30px;
}

.info {
    margin-left: 20px;
}

#my-div {
    margin-top: 30px;
}

#write {
    margin-right: 20px;
}

#my-div img {
    margin-left: 60px;
    cursor: pointer;
}

#answer-content {
    height: 300px;
}

.agree-btn {
    width: 80px;
}

.disagree-btn {
    width: 80px;
}

.follow-btn {
    margin-left: 10px;
}