{% extends 'article/articleBase.html' %}
{% block article_content %}
<h1>国内外研究现状</h1>
<p class="text-left">
    文献【1】综合现有无人机发展趋势，研讨了各种容量、先进性和自主性不同的商业化无人机系统，回顾了无人机系统在哥伦比亚输电公司中一些可能的应用，用于日常和紧急线路检查，并根据内部研究和需求评估讨论了所需的系统功能。</p>
<p class="text-left">
    文献【2】开发了一种自主直升机作为研究平台，展示了电力线检查的概念并验证其能力。通过多次飞行测试实验，对无人机巡线领域的关键问题提出了深刻的认识。</p>
<p class="text-left">
    文献【3】调查了使用高分辨率无人机系统图像对输电线路三维几何形状进行自动建模的潜力，深入研究解决了较长输电线路的勘测成本较高的问题，应用带有消费级相机的廉价平台，实现了巡检中电力线路下垂量的自动化检测。</p>
<p class="text-left">
    文献【4】提出了一种多平台无人飞行器系统和多模式通信系统，用于高效的电力线路巡检任务。实现了高质量的图像／视频实时传输到现场控制站，对无人机导航和远端服务器分析，进行多无人机协同巡检，比传统巡检方式效率更高。</p>
<p class="text-left">
    在国内无人机巡线应用中，为更规范地应用无人机进行电力巡检工作，国家电网公司出台了相关的技术规范和行业标准；同时国家电网机器人研究室针对电力巡线无人机做了大量的研究和工程试验，取得了多项研究成果。</p>
<p class="text-left">
    文献【5】针对现有无人机在电力巡线应用效果差的问题，提出了多旋翼无人机在高压电路协同巡线中的应用，得到了较好的无人机巡线效果，提供了高压电路故障排查的理论和设备支持。</p>
<p class="text-left">
    文献【6】提出一种多传感器数据融合方法，首先将待测杆塔的坐标信息输入至系统，以此方式实现自主导航，采用虚拟势场法来避障。经仿真实验证明，此方法可行有效，优化了无人机对架空输电线路的自主避障导航系统。</p>
<p class="text-left">
    文献【7】分析了当前输电线路的巡视现状，详细的介绍了常用的无人机输电线路巡线方式，总结了无人机巡线工作中的主要应用途径，提出了确保无人机巡线工程应用顺利落实的保障措施。随着无人机在输电线路中的广泛应用，其检测技术逐渐成熟、工程应用逐渐成体系、检测方法也逐渐高效化，将成为取代人工巡线的新趋势。</p>
<p class="text-left">【1】Toth J, Gilpin-Jackson A. Smart view for a smart grid—Unmanned Aerial Vehicles for transmission
    lines[C]. In: Applied Robotics for the Power Industry (CARPI), 2010 1st International Conference on, 2010.</p>
<p class="text-left">【2】Hrabar S, Merz T, Frousheger D. Development of an autonomous helicopter for aerial powerline
    inspections[C]. In: International Conference on Applied Robotics for the Power Industry, 2010.</p>
<p class="text-left">【3】Jkw G, Jagt B V, Toth C. EXPERIMENTS WITH UAS IMAGERY FOR AUTOMATIC MODELING OF POWER LINE 3D
    GEOMETRY[J]. International Archives of the Photogrammetry, Remote Sensing & Spatial Information Sciences, 2015.</p>
<p class="text-left">【4】Deng C, Wang S, Zhi H, et al. Unmanned Aerial Vehicles for Power Line Inspection: A Cooperative
    Way in Platforms and Communications[J]. Journal of Communications, 2014, 9(9): 687-692.</p>
<p class="text-left">【5】余鹏, 田杰, 刘铁军, 等. 电动多旋翼无人机在高压电路协同巡线中的应用[J]. 自动化技术与应用, 2021,
    40(02): 34-37.</p>
<p class="text-left">【6】张红兵, 索春光, 宁友欢, 等. 无人机巡检架空输电线路自主避障导航算法研究[J]. 软件, 2020, 41(10):
    236-241.</p>
<p class="text-left">【7】董海, 吴江, 曹辉. 无人机输电线路巡线技术及其应用分析[J]. 低碳世界, 2020, 10(08): 75-76.</p>


{% endblock %}