{% extends 'article/articleBase.html' %}
{% block article_content %}
<h1>技术路线</h1>
<p class="text-left">基于无人机的杆塔倾斜度检测技术主要分为数据获取、构建三维模型、倾斜度计算三个方面。</p>
<p class="text-left">
    数据获取主要由飞行平台、多传感器数据采集系统、无线数传系统和地面站系统组成。本文飞行平台采用多旋翼无人机，采用多种飞控传感器实时监测调整无人机飞行姿态，以保证无人机按照我们预设的航线（井字航线）来拍摄杆塔，然后通过无线数传系统将数据传输给地面站系统保存。在航测前，需要在航飞区域均匀布设像控点，以提高测量的精度。检查保存的杆塔影像信息，布控点的坐标数据等无误后就可以将数据导入到ContextCapture软件，通过影像密集匹配，生成基于倾斜影像的三维点云模型；在高密度三维点云基础上生成三角网(TIN)模型；经过对三角网模型的封装，生成三维白膜模型；将三维白膜模型纹理映射，生成纹理真实的可视化三维模型。</p>
<p class="text-left">
    从实景模型中获取到的较高塔身的4个坐标以及塔脚的四个坐标，并分别选取高程数值的最大值和最小值，以此数值构建绝对水平面。然后通过在同一条棱上的两个点求出四条棱的空间直线方程，并将其与绝对水平面的方程联立得到交点的修正值，通过四个修正后的交点就可以得到顶部和底部的绝对水平面的中心点的坐标。两个中心点所在的直线即为电力杆塔的中心轴线，通过求解该直线的斜率就能得到杆塔的倾斜度。</p>
{% endblock %}