{% extends 'article/articleBase.html' %}
{% block article_content %}
<h1>无人机测量优势</h1>
<p class="text-left">
    目前，国内电力杆塔主要有垂法、经纬仪法、平面镜法、单目视觉测量法以及三维激光扫描技术。铅垂法适用范围广泛，是通过从塔顶横担中心悬挂铅锤，量取铅锤与地面的接触点和地面中心点在水平投影上的距离S，通过查询或者实测得到铁塔全高H，计算得到该铁塔的倾斜率α=S/H。由于铅垂法要靠人工挂锤拉尺完成测量，因此受环境影响及人为因素误差较大，精度较低。此外由于铁塔高度高,且有时需要带电作业，因此有人工作业风险。</p>
<p class="text-left">
    经纬仪法的原理是利用经纬仪在顺线路方向和垂直线路方向分别投出塔顶中心的投影线，二者交点即为塔顶中心的投影，通过该点和铁塔实际底部中心的较差来计算倾斜成果。由于经纬仪法要依靠人工棱镜来配合，同时仪器需要多次设站，因此受人为因素影响大，精度较低。同时，因需要设站，因此对铁塔周边环境也有要求，易受地形所限。</p>
<p class="text-left">
    单目视觉测量法利用数码相机在现场特定的距离和角度拍摄数码像片，然后在内业进行图像处理和数据的计算，最终得到铁塔倾斜成果。该方法虽然外业工作量小，但是内业数据处理工作繁杂、计算量大，且理论上无法消除镜头畸变和视觉畸变，因此精度较低。</p>
<p class="text-left">
    三维激光扫描技术通过高速激光扫描大面积、高分辨率的快速获取被测对象表面的三维坐标数据，通过快速、大量的采集空间点位信息来建立被测物体的三维影像模型。通过对恢复的铁塔模型进行分析可以得到需要的各种倾斜成果。此方法成果精度高。但是内业处理时间较长，设备成本相对较高，在铁塔倾斜测量方面使用较少，更多用于各地古建筑保护测量方面。</p>
<p class="text-left">
    我们使用的无人机测量技术，通过无人机巡航拍摄杆塔照片，将其导入软件生成三维模型进行倾斜度测量，充分发挥了三维数据的优势，测量结果精度高。采用无人机拍摄，不仅检测成本低，而且很大程度上减小了人工作业的风险。</p>

{% endblock %}