{% extends 'article/articleBase.html' %}
{% block article_content %}
<h1>研究背景及意义</h1>
<p class="text-left">
    我国经济的发展极大依赖电力行业的支持，同时经济的发展又促进电力行业的发展，我国的电网系统经过多年建设，规模愈加扩大，社会对电力的依赖性亦逐年增强。</p>
<p class="text-left">
    输电线路作为电能传送的核心载体，其安全稳定的运行尤为重要。然而随着偏远地区用电普及，输电线路不断深入到荒山野岭和悬崖戈壁，电力杆塔建设在地形危险、巡检员难以到达的环境之中，因此对于电力设施的巡视、运维是一个难题。</p>
<p class="text-left">
    目前，国内的电力设施巡查工作中，人工巡线是应用最广泛的方式。在人工巡线的工作过程中，需要借助辅助设施完成对电力设备的查看，对于设施难以接近的部分，则依赖于人工爬塔进行巡视工作。</p>
<p class="text-left">
    一方面，传统的人工巡线工作存在着较大的风险，尤其是在雨雪大风等恶劣天气、在悬崖陡壁等极端地形，巡查人员存在极大人身安全隐患，易发生人身安全事故；另一方面，随着输电线路的大规模增加，人工巡检的单次巡线时间也随之变长，工作强度随之增大，故导致巡线效率降低，已逐渐难以完成日常电力设施巡视、维护工作。</p>
<p class="text-left">
    因此，电力公司为保证电力设备稳定运营，需要投入巨额费用，储备专业的劳动人员进行巡线作业，耗费大量的人力物力资源，传统的巡线方式渐渐不能满足当前大规模输电线路的巡检需求。</p>
<p class="text-left">
    近年来，国外先进的无人机技术在军事、农业等领域有着广阔的应用，促进我国无人机相关产业快速发展，以深圳大疆公司为代表的消费级无人机产业在科技创新和行业应用中已经有了长足的进步。随着无人机航空技术日趋成熟，以其作为飞行平台进行输电线路巡检成为了一种新趋势。当前，无人机巡线逐渐在我国电力行业中普及，运维人员制定了无人机与人工巡线相结合的方式，针对偏远地区和地形复杂地域进行巡检，我国多个电力部门对该巡检技术展开深入研究，应用前景一片光明。</p>
<p class="text-left">
    "我国无人机巡线技术的发展，不仅可以提高巡线效率，降低人力物力资源的浪费，还能大幅度减少巡线人员的工作风险，提高巡线的安全性和准确性。同时，无人机巡线技术还可以利用高清摄像设备、红外热像仪等传感器对输电线路进行全方位的监测和检测，及时发现线路故障和隐患，提供科学依据，有利于及时采取措施进行维护和修复，确保电力设备的安全稳定运行。</p>
{% endblock %}