{% extends 'TowerTiltCenter/formBase.html' %}
{% block form %}
<script src="../static/script/towerCenter.js"></script>
<div class="row align-items-center" style="display:flex;justify-content: center;align-items: center;">
    <div class="col-lg-6" style="width:1000px">
        <div class="single_login" style="background-color:white;margin-top:50px;">
            <div class="login-title">
                <h3>杆塔添加填写表格</h3>
            </div>
            <div class="login-text">
                <p>请填写杆塔相关信息</p>
                {% for message in get_flashed_messages() %}
                {% if message %}
                <div style="color:red">{{ message }}</div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <form action="/addTower" id="questionForm" method="post" novalidate role="form">
                    <!-- name -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="name">名字</label>
                            <input  {% if name %}value="{{ name }}"{% endif %} id="name" name="name" placeholder="输入杆塔名字" type="text" {% if name %}readonly{% endif %}>
                            <span><i class="bi bi-person"></i></span>
                        </div>
                    </div>
                    <!-- description -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="description">描述</label>
                            <textarea id="description" name="description" placeholder="输入杆塔描述" {% if description %}readonly{% endif %}>{{ description }}</textarea>
                        </div>
                    </div>
                    <!--两个按钮-->
                    <div class="col-lg-12 col-md-12">
                        <div class="form-submit"
                             style="display:flex;justify-content: center;align-items: center;">
                            <button class="submitBTN" type="submit">提交</button>
                            <button class="clearBTN" onclick="clearForm()" type="button">清空</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}