{% extends 'TowerTiltCenter/formBase.html' %}
{% block form %}
<script src="../static/script/towerCenter.js"></script>
<div class="row align-items-center" style="display:flex;justify-content: center;align-items: center;">
    <div class="col-lg-6" style="width:1000px">
        <div class="single_login" style="background-color:white;margin-top:50px;">
            <div class="login-title">
                <h3>杆塔倾斜度测量填写表格</h3>
            </div>
            <div class="login-text">
                <p>请填写杆塔倾斜记录</p>
                {% for message in get_flashed_messages() %}
                {% if message %}
                <div style="color:red">{{ message }}</div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <form action="/towerTiltForm0" id="questionForm" method="post" novalidate role="form">
                    <!-- towerId -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerId">towerId</label>
                            <input type="text" id="towerId" name="towerId"
                                   placeholder="Enter towerId value"
                                   {% if towerId %}value="{{ towerId }}" {% endif %}
                                   {% if towerId %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerUpperE -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerUpperE">towerUpperE</label>
                            <input type="text" id="towerUpperE" name="towerUpperE" placeholder="Enter towerUpperE value"
                                   {% if towerUpperE %}value="{{ towerUpperE }}" {% endif %} {% if towerUpperE
                                   %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerUpperS -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerUpperS">towerUpperS</label>
                            <input type="text" id="towerUpperS" name="towerUpperS" placeholder="Enter towerUpperS value"
                                   {% if towerUpperS %}value="{{ towerUpperS }}" {% endif %} {% if towerUpperS
                                   %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerUpperW -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerUpperW">towerUpperW</label>
                            <input type="text" id="towerUpperW" name="towerUpperW" placeholder="Enter towerUpperW value"
                                   {% if towerUpperW %}value="{{ towerUpperW }}" {% endif %} {% if towerUpperW
                                   %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerUpperN -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerUpperN">towerUpperN</label>
                            <input type="text" id="towerUpperN" name="towerUpperN" placeholder="Enter towerUpperN value"
                                   {% if towerUpperN %}value="{{ towerUpperN }}" {% endif %} {% if towerUpperN
                                   %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerBottomE -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerBottomE">towerBottomE</label>
                            <input type="text" id="towerBottomE" name="towerBottomE"
                                   placeholder="Enter towerBottomE value" {% if towerBottomE
                                   %}value="{{ towerBottomE }}" {% endif %} {% if towerBottomE %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerBottomS -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerBottomS">towerBottomS</label>
                            <input type="text" id="towerBottomS" name="towerBottomS"
                                   placeholder="Enter towerBottomS value" {% if towerBottomS
                                   %}value="{{ towerBottomS }}" {% endif %} {% if towerBottomS %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerBottomW -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerBottomW">towerBottomW</label>
                            <input type="text" id="towerBottomW" name="towerBottomW"
                                   placeholder="Enter towerBottomW value" {% if towerBottomW
                                   %}value="{{ towerBottomW }}" {% endif %} {% if towerBottomW %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <!-- towerBottomN -->
                    <div class="col-lg-12">
                        <div class="form_box">
                            <label for="towerBottomN">towerBottomN</label>
                            <input type="text" id="towerBottomN" name="towerBottomN"
                                   placeholder="Enter towerBottomN value" {% if towerBottomN
                                   %}value="{{ towerBottomN }}" {% endif %} {% if towerBottomN %}readonly{% endif %}>
                            <span><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                        <div class="form-submit"
                             style="display:flex;justify-content: center;align-items: center;">
                            <button class="submitBTN" type="submit">提交</button>
                            <button class="clearBTN" onclick="clearForm()" type="button">清空</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}