{% extends 'base.html' %}
{% block content %}
<div class="row clearfix"
     style="display: flex; justify-content: center;background:linear-gradient(to bottom, rgba(27, 101, 185,0.5), rgba(27, 101, 185, 0));">
    <div class="col-md-12 column" style="width:90%;margin-top:150px">
        <div class="carousel slide" id="carousel-216063">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#carousel-216063">
                </li>
                <li data-slide-to="1" data-target="#carousel-216063">
                </li>
                <li class="active" data-slide-to="2" data-target="#carousel-216063">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img alt="" src="../static/image/carousel/img.png"/>
                    <div class="carousel-caption">
                        <h4>
                            First Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="../static/image/carousel/img.png"/>
                    <div class="carousel-caption">
                        <h4>
                            Second Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item active">
                    <img alt="" src="../static/image/carousel/img.png"/>
                    <div class="carousel-caption">
                        <h4>
                            Third Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" data-slide="prev" href="#carousel-216063"><span
                    class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                            data-slide="next"
                                                                            href="#carousel-216063"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <dl class="dl-horizontal">
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>
            <dt>
                Euismod
            </dt>
            <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
            </dd>
            <dd>
                Donec id elit non mi porta gravida at eget metus.
            </dd>
            <dt>
                Malesuada porta
            </dt>
            <dd>
                Etiam porta sem malesuada magna mollis euismod.
            </dd>
            <dt>
                Felis euismod semper eget lacinia
            </dt>
            <dd>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                sit amet risus.
            </dd>
        </dl>
    </div>
</div>
<HR SIZE=3 style="FILTER: alpha(opacity=100,finishopacity=0,style=3);background-color=rgba(27, 101, 185, 0.2);"
    width="80%">
<div class="row clearfix"
     style="display: flex; justify-content: center;background:linear-gradient(to bottom, rgba(27, 101, 185,0), rgba(27, 101, 185, 0));">
    <div class="col-md-6 column">
        <h2>
            Heading
        </h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>
    <div class="col-md-6 column">
        <h2>
            Heading
        </h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>
</div>
<HR SIZE=3 color=#987cb9 style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%">
<div class="row clearfix"
     style="display: flex; justify-content: center;background:linear-gradient(to bottom, rgba(27, 101, 185,0), rgba(27, 101, 185, 0.2));">
    <div class="col-md-12 column">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>
            <dt>
                Euismod
            </dt>
            <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
            </dd>
            <dd>
                Donec id elit non mi porta gravida at eget metus.
            </dd>
            <dt>
                Malesuada porta
            </dt>
            <dd>
                Etiam porta sem malesuada magna mollis euismod.
            </dd>
            <dt>
                Felis euismod semper eget lacinia
            </dt>
            <dd>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                sit amet risus.
            </dd>
        </dl>
    </div>
</div>
{% endblock %}